{% extends 'base/sidebar.html' %}

{% block titulo %} Crear producto  {% endblock titulo %}

{% block content %} 

<div class="container">
    <div class="container-fluid p-0 col-md-8 col-md-offset-2 col-sm-12 form-box">
        <h2>Mis ventas 🍑</h2>
        
        <hr width="30%">
        <form method="POST">
            <div class="form-group">
            
                {% csrf_token %}
                {{ formulario2.as_p }}


                <input class="btn btn-default" type="submit" value="Confirmar entrega">
            </div>

           


           
            
        </form>
    </div>
</div>

{% endblock content %}