{% extends 'base/base.html' %}


{%load static%} 

{% load permission_tags %}
{% block content %}

{%block css%} 
<link rel="stylesheet" href="{% static '/css/base.css'%}">
{%endblock%} 

<body>
    <h2>Terminar subasta </h2>
        <form method="POST" class="container2">
            <div class="form1">
                {% csrf_token %}
                {% for p in subastas %} 
                    {% if p.id == id_subastas.id %}
                    <div>
                        <h2>Detalles Subasta</h2>
                        <h4>Precio escogido: </h4> ${{ p.mi_apuesta  }}
                        <h4>Transportista: </h4> {{ p.fk_transportistaa_usuario.username  }}    
                        <h4>Fecha: </h4> {{ p.fec_subasta  }}    
                    </div>
                    {% endif %}
                {% endfor %} 
                {{ formulario}}
                <input class="button" type="submit" value="Terminar subasta">
            </div>
        </form>
</body>

{% endblock content %}