{% extends 'base/base.html' %}

{%load static%} 

{% load permission_tags %}
{% block content %}

{%block css%} 
<link rel="stylesheet" href="{% static '/css/base.css'%}">
{%endblock%} 
<body>
    <h2>Crear Producto</h2>
    <form method="container2">
        <div class="form1">
            {% csrf_token %} <!--validar -->
            {{ from_solicitud }}
            <input class="button" type="submit" value="Crear producto">
            <h2 class="reg-prod">Crear subastas</h2>
        </div>    
    </form>
</body>
{% endblock content %}