{% extends 'base/sidebar.html' %}

{% block titulo %} Crear producto  {% endblock titulo %}

{% block portada %} Crear producto {% endblock portada %}

{% block content %} 

<body>
    <h2> Boleta </h2>
        <form method="POST"class="container2">
            <div class="form1">
                {% csrf_token %}
                {{ formulario }}
                {% for p in ventas %} 
                {% if p.id == venta_id.id %}
               
                <div>
                    <h3>Productos  </h1> 
                    <h5>-{{ p.fk_subasta.fk_solicitud.fk_frutas_espacio1  }} a ${{ p.fk_subasta.fk_solicitud.fk_frutas_espacio1.fk_desc_fruta_espacio1.valor_producto  }} </h5>
                    <h5>-{{ p.fk_subasta.fk_solicitud.fk_frutas_espacio2  }} a ${{ p.fk_subasta.fk_solicitud.fk_frutas_espacio1.fk_desc_fruta_espacio1.valor_producto }}  </h5>
                    <h5>-{{ p.fk_subasta.fk_solicitud.fk_frutas_espacio2  }} a ${{ p.fk_subasta.fk_solicitud.fk_frutas_espacio1.fk_desc_fruta_espacio1.valor_producto  }} </h5>
                    <h3>Transporte/subasta  </h3>   
                    <h5>Transportista: {{ p.fk_subasta.fk_transportistaa_usuario.username }}  </h5>  
                    <h5>Fecha Subasta {{ p.fec_venta }} </h5>   
                    <h5>Precio: $ {{ p.fk_subasta.mi_apuesta  }}</h4> 
                </div>
                {% endif %}
                {% endfor %} 
                <input class="button" type="submit" value="Crear boleta">
            </div>   
        </form>
</body>

{% endblock content %}