{% extends 'base/sidebar.html' %}


{% block content %} 

<body>
    <h2>Participar en subasta</h2>
        <form method="POST" class="container2">
            <div class="form1">
                {% for p in solicitudes %} 
                    {% if p.id == id_solicitud.id %}
                    <div>
                        <h2>Productos de la subasta:</h4>
                        <h3>Producto 1: </h1> {{ p.fk_solicitud.fk_frutas_espacio1  }}
                        <h3>Producto 2: </h1> {{ p.fk_solicitud.fk_frutas_espacio2  }}    
                        <h3>Producto 3: </h1> {{ p.fk_solicitud.fk_frutas_espacio2  }}   
                    </div>

                    {% endif %}
                {% endfor %} 
                {% csrf_token %}
                {{ formulario}}
                <input class="button" type="submit" value="Iniciar subasta">
            </div>
        </form>
</body>
{% endblock content %}