{% extends 'base/base.html' %}

{% block content %} 

{% load static %}

<div class="container">
    <div class="container-fluid p-0 col-md-8 col-md-offset-2 col-sm-12 form-box">
        <h2> Hola, {{user.username}}🍑</h2> 
        
        <hr width="30%">
        <form method="POST">
            <div class="form-group">

                <div id="container"></div>
                <p class="highcharts-description">
                    A basic column chart compares rainfall values between four cities.
                    Tokyo has the overall highest amount of rainfall, followed by New York.
                    The chart is making use of the axis crosshair feature, to highlight
                    months as they are hovered over.
                </p>

            </div>
            <script >


                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Reporte de ventas del año'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        categories: [
                            'Enero',
                            'Febrero',
                            'Marzo',
                            'Abril',
                            'Mayo',
                            'Junio',
                            'Julio',
                            'Agosto',
                            'Septiembre',
                            'Octubre',
                            'Noviembre',
                            'Diciembre'
                        ],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Rainfall $'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'Venta ',
                        showInLegend: false,
                        colorByPoint: true,
                        data: {{data}}



                    },]
                });

            </script>
           
               
        </form>
        
    </div>
</div>

{% endblock content %}