{% extends 'base/sidebar.html' %}

{%load static%} 

{% load permission_tags %}
{% block content %}

{%block css%} 
<link rel="stylesheet" href="{% static '/css/base.css'%}">
{%endblock%} 
<body>
    <h2>Información de la solicitud </h2>
        <form method="POST" class="container2">
            <div class="form1">
            
                {% csrf_token %}

                {{ formulario }}

                {% for p in id_Solicitud %} 
                    {% if p.id == Solicitud_id.id %}
                    <div>
                        <h2>Detalles </h4>
                        
                        <h3>Fruta 1:  </h1> {{ p.fk_frutas_espacio1  }}  a ${{ p.fk_frutas_espacio1.fk_desc_fruta_espacio1.valor_producto }}
                        <h3>Fruta 2:  </h1> {{ p.fk_frutas_espacio2  }}  a ${{ p.fk_frutas_espacio2.fk_desc_fruta_espacio2.valor_producto }}
                        <h3>Fruta 3:  </h1> {{ p.fk_frutas_espacio3  }}  a ${{ p.fk_frutas_espacio3.fk_desc_fruta_espacio3.valor_producto }}                            
                    </div>
                    {% endif %}
                {% endfor %} 
                <input class="button" type="submit" value="Aceptar">
            </div>
        </form>
</body>
{% endblock content %}