{% extends 'base/base.html' %}

{% block content %} 



<script>
    function eliminar(id){
        Swal.fire({
        "title": '¿Estás Seguro?',
        "text": "Una vez borrado no se podrá recuperar",
        "icon": 'warning ',
        "showCancelButton": true,
        "confirmButtonColor": '#3085d6',
        "cancelButtonColor": '#d33',
        "cancelButtonText":"No, Cancelar", 
        "confirmButtonText": 'Si, Eliminar',
        "reverseButtons":true  

        }).then(function(result) {
            if (result.isConfirmed) {
            window.location.href = "/eliminar_modificar_listar_productor_solicitud/"+id+"/"
        }
        })

    }

</script>

<div class="container">
    <div class="col-md-10 col-md-offset-1 form-box">

       
        {% load permission_tags %}
        {% if user|has_role:'externo' or user|has_role:'interno'  %}
        <h2>Mis solicitudes de lotes y Mis subastas</h2>
        {% endif %}

        {% if user|has_role:'transportista'   %}
        <h2>Mis subastas</h2>
        {% endif %}    

        {% if user|has_role:'productor'   %}
        <h2>Mis solicitudes</h2>
        {% endif %}   

        <hr width="50%">
        <form method="POST">
            <div class="form-group">
        
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <th> id </th>
                        <th> Productor </th>
                        <th> Estado </th>
                        <th> Fruta espacio 1  </th>
                        <th> Fruta espacio 2  </th>
                        <th> Fruta espacio 3  </th>
                        
                        <th> Solicitud </th>

                        
                        <th>Opciones</th>
                        
                    </tr>
                
                    
                {% if solicitudes  %}    

                    {% for p in solicitudes %}  
                        
                        {% load permission_tags %}     

                        {% if p.fk_solicitud.usuario_fk.username == user.username or p.usuario_fk.username == user.username %}
                                    
                        <tr>    
                         
                            <td>{{ p.id }} </td>
                            <td>{{ p.usuario_fk  }}</td>
                            <td>{{ p.fk_estado_productor_crear_solicitud  }}</td>

                            <td>{{ p.fk_frutas_espacio1 }} a ${{p.fk_frutas_espacio1.fk_desc_fruta_espacio1.valor_producto }}   </td>
                            <td>{{ p.fk_frutas_espacio2  }} a ${{p.fk_frutas_espacio2.fk_desc_fruta_espacio2.valor_producto }} </td>
                           
                            <td>{{ p.fk_frutas_espacio3  }} a ${{p.fk_frutas_espacio3.fk_desc_fruta_espacio3.valor_producto }}</td>
                            
                            
                            <td>{{ p.fk_solicitud }} </td>

                            
                            <td>

                                {% if  user|has_role:'productor' and p.usuario_fk.username  == user.username  %}

                                <a href="#" onclick="eliminar({{ p.id }})  " class="btn btn-danger btn-sm ">Eliminar</a>

                                {% endif %}

                                {% if  p.fk_estado_productor_crear_solicitud.estado_venta  == "Pendiente"   %}

                                    {% if  user|has_role:'externo' or user|has_role:'interno'   %}
                                    <a href="{%  url 'aprobar_solicitud_cliente_productor' p.id %}" class="btn btn-info btn-sm ">Aprobar</a>
                                    <a href="{%  url 'rechazar_solicitud_cliente_productor' p.id %}" class="btn btn-info btn-sm ">Rechazar</a>
                                    {% endif %}

                                {% endif %}


                                {% if p.fk_solicitud.usuario_fk.username  == user.username and  p.fk_estado_productor_crear_solicitud.estado_venta  == "Aprobado"  %}
                                <a href="#" onclick="eliminar({{ p.id }})  " class="btn btn-danger btn-sm ">Eliminar</a>
                                <a href="{%  url 'iniciar_subasta_participar' p.id %}" class="btn btn-info btn-sm ">Crear subasta</a>
                                {% endif %}

                                
                            
                                {% if   p.fk_estado_productor_crear_solicitud.estado_venta  == "Subasta en curso"  %}

                                <a href="{%  url 'listar_subasta' p.id p.fk_solicitud.usuario_fk p.fk_solicitud %}" class="btn btn-info btn-sm ">Ver subasta</a>
                                
                                {% endif %}

                                
                                
                            </td>


                        </tr>
                                
                        {% endif %}

                        
                        {% if user|has_role:'transportista' %}
                                    
                        <tr>    
                         
                            <td>{{ p.id }} </td>
                            <td>{{ p.usuario_fk  }}</td>

                            <td>{{ p.fk_estado_productor_crear_solicitud  }}</td>
                            <td>{{ p.fk_frutas_espacio1  }}</td>
                            <td>{{ p.fk_frutas_espacio2  }}</td>
                            <td>{{ p.fk_frutas_espacio3  }}</td>
                            <th>{{ p.fk_solicitud.usuario_fk }}</th>
                           
                            <td>

                                {% if  user|has_role:'transportista' and p.fk_estado_productor_crear_solicitud.estado_venta  == "Subasta en curso"   %}

                                   <a href="{%  url 'list_auction' p.id   p.fk_solicitud.usuario_fk p.fk_solicitud %}" class="btn btn-info btn-sm ">Mas Información</a>
                                

                                {% endif %}


                            </td>


                        </tr>
                                
                        {% endif %}
                    {% endfor %}     
                {% else %}
                <h3>No hay registros</h3>
                {% endif %}
                </tbody>

            </table>            
                
    

      
            </div>
        </form>
    </div>
</div>

{% endblock content %}