{% extends 'base/sidebar.html' %}

{%load static%} 

{% block content %}

{%block css%} 
<link rel="stylesheet" href="{% static '/css/base.css'%}">
{%endblock%} 

<div class="container">
    <div class="container-fluid p-0 col-md-11 col-md-offset-1 col-sm-10 form-box">
        <h2> Todas las ventas🍑</h2>
        
        <hr width="30%">
        <form method="POST">
            <div class="form-group">
            
               

            </div>

           

           
        {% load permission_tags %}      
        {% if user|has_role:'consultor'   %}
        <table class="table table-bordered">
            <thead>

                <tr>
                    
                    <th>id</th>
                    
                    <th>Cliente </th>
                    <th>Id venta</th>
                    <th>Estado </th>
                    <th>Productor</th>
                    <th>Transportista</th>
                    <th>Descargar boletas pdf</th>
                     
                </tr>
            </thead>
            {% if boletas  %}    
            {% for p in boletas %}   
            <tbody>
                <tr>
                    
                    <td>{{ p.id  }}</td>
                    
                    <td>{{ p.usuario_fk  }}</td>
                    <td>{{ p.fk_venta  }}</td>
                    <td>{{ p.fk_venta.fk_estado_venta  }}</td>
                    <td>{{ p.fk_venta.fk_subasta.fk_solicitud.usuario_fk }}</td>
                    <td>{{ p.fk_venta.fk_subasta.fk_transportistaa_usuario }}</td>
                    
                    <td>
                        
                            {% if  p.fk_venta.fk_estado_venta.estado_venta == 'Venta terminada'%} <!-- PARA FK---->

                                <a href="{%  url 'pdf_converterProductorViews' p.id %}" class="btn btn-info btn-sm ">Productor</a>
                                <a href="{%  url 'pdf_converterTransViews' p.id %}" class="btn btn-info btn-sm ">Transportista</a>
                                <a href="{%  url 'pdf_converterViews' p.id %}" class="btn btn-info btn-sm ">Cliente </a>


                            {% endif  %}
                       
                    </td>
                    
                </tr>
                
                
            {% endfor %}    
            {% else %}
            <h3>No hay registros</h3>
            {% endif %}
            </tbody>
        </table>     
        {% endif %}  


        </form>
    </div>
</div>

{% endblock content %}