{% extends 'base/sidebar.html' %}

{% block content %} 

<div class="container">
    <div class="col-md-6 col-md-offset-3 form-box">
        
        
        <form method="POST">
            <div class="form-group">
        
                <script>
                    function eliminar(id){
                        Swal.fire({
                        "title": '¿Estás seguro?',
                        "text": "Una vez borrado no se podrá recuperar",
                        "icon": 'warning ',
                        "showCancelButton": true,
                        "confirmButtonColor": '#3085d6',
                        "cancelButtonColor": '#d33',
                        "cancelButtonText":"No, Cancelar", 
                        "confirmButtonText": 'Si, Eliminar',
                        "reverseButtons":true  
                
                        }).then(function(result) {
                            if (result.isConfirmed) {
                            window.location.href = "/end_auction/"+id+"/"
                        }
                        })
                
                    }
                
                </script>
                
              
                      
                        <form method="POST">
                            <div class="form-group">
                                <h2>Detalles</h2>  
                                <hr width="50%">
                                <table class="table table-bordered">
                
                                    {% load permission_tags %}
                
                                    <tbody>
                                        <tr>
                                            
                                            <th>id</th>
                                            <th>Cliente</th>
                                            <th>Solicitud</th>
                                            <th>Pais</th>
                                            <th>cuidad</th>
                                            <th>Direccion</th>

                                            {% if  user|has_role:'transportista'  %}
                                            <th>Opciones</th>
                                            {% endif %}
                                        </tr>
                                    
                                    
                                    {% if solicitudes  %}    
                                    {% for p in solicitudes %}  
                                    {% load permission_tags %}
    
                                            {% if p.fk_solicitud.id == id_solicitud2.id and p.fk_transportistaa_usuario.username == nombreCliente %}    
                                            
                                            <tr>
                                                <td>{{ p.id  }}</td>
                                                <td>{{ p.fk_transportistaa_usuario.username  }}</td>
                                                <td> {{ p.fk_solicitud.id }}  </td>
                                                <td>{{ p.pais.name }}</td>
                                              
                                                <td>{{ p.cuidad  }}</td>    
                                                <td>{{ p.mi_direccion  }}</td>

                                                {% if  user|has_role:'transportista'  %}

                                                <td>
                                                    
                                                    {% if  user|has_role:'transportista'  %}
                                                    
                                                    <a href="{%  url 'participate_auction_carrier' p.fk_solicitud.id p.id   %}" class="btn btn-info btn-sm ">Participar</a>
    
                                                    {% endif %}


                                                    
                                                </td>
                                                {% endif %}
                                            </tr>
    
                                            {% endif %}  
                                    
                                    {% endfor %}
                                    {% else %}
                                    <h3>No hay registros</h3>
                                    {% endif %}
                                    </tbody>
                    
                                </table> 

                                <hr width="50%">



                            <h2>Participantes</h2>    
                            <table class="table table-bordered">
                
                               
                
                                <tbody>
                                    <tr>
                                        <th>id</th>
                                        <th>Transportista</th>
                                       
                                       
                                        <th>Valor</th>

                                        {% if user|has_role:'externo' or user|has_role:'interno'  %}
                                            <th>Opciones</th>
                                        {% endif %}
                                       
                                        
                                    </tr>
                                
                                
                                {% if solicitudes  %}    
                                {% for p in solicitudes %}  
                                {% load permission_tags %}

                                                                                      
                                        {% if id_solicitud2.id == p.fk_solicitud.id  %}    
                                        
                                        <tr>

                                            <td> {{ p.id }} </td>
                                            <td>{{ p.fk_transportistaa_usuario  }}</td>                 
                                            <td>${{ p.mi_apuesta  }}</td>


                                            {% if user|has_role:'externo' or user|has_role:'interno'  %}




                                                {% if p.fk_transportistaa_usuario.username != nombreCliente  %}


                                                <td>
                                                
                                                    <a href="{%  url 'end_auction' p.id  p.fk_solicitud.id  %}" class="btn btn-info btn-sm ">Terminar subastas</a>
                                                    
                                                </td>



                                                {% endif %}  

                                           

                                            {% endif %}  
                                              
                                            
                                        </tr>
                                        

                                        {% endif %}  
                                
                                {% endfor %}
                                {% else %}
                                <h3>No hay registros</h3>
                                {% endif %}
                                </tbody>
                
                            </table> 
                           
                
    

      
            </div>
        </form>
    </div>
</div>

{% endblock content %}