{% extends 'base/sidebar.html' %}

{% block content %} 

<div class="container">
    <div class="container-fluid p-0 col-md-8 col-md-offset-2 col-sm-12 form-box">
        <h2>Modificar producto</h2>
        <hr width="30%">
        <form method="POST">
            <div class="form-group">
            
                {% csrf_token %} <!--validar -->

                {{ from_producto.as_p }}

                <input class="btn btn-default" type="submit" value="Modificar producto">

                
            </div>
                   
        </form>
    </div>
</div>

{% endblock content %}