{% extends 'base/sidebar.html' %}

{%load static%} 

{% load permission_tags %}
{% block content %}

{%block css%} 
<link rel="stylesheet" href="{% static '/css/base.css'%}">
{%endblock%} 

<body>
    <h2>Modificar producto</h2>
    <form method="POST" class="container2">
        <div class="form1">
            {% csrf_token %}
            {{ from_producto}}
            <input class="button" type="submit" value="Modificar producto">
        </div>   
    </form>   
</body>

{% endblock content %}