{% extends 'base/sidebar.html' %}

{%load static%} 

{% load permission_tags %}
{% block content %}

{%block css%} 
<link rel="stylesheet" href="{% static '/css/base.css'%}">
{%endblock%} 

<div class="container">
    <div class="col-md-8 col-md-offset-2 form-box">
        <h2>Modificar solicitud</h2>
        <hr width="30%">
        <form method="POST">
            <div class="form-group">
                
                {% csrf_token %} <!--validar -->
                {{ from_solicitud.as_bootstrap }}

                <input class="btn btn-default" type="submit" value="Modificar solicitud">
            </div>
        </form>
    </div>
</div>

{% endblock content %}