body{
    background: #eee;
    
 }
 
 .container2{
    max-width: 1200px;
    margin:50px;
    padding:3rem 8rem;
 }

.form1{
    color: black;
    text-align: center;
    display: grid;
    
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #2e6c47;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.button:hover{
    background: cadetblue; 

}