body {
    background-image: url(https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg);
    background-color: rgba(55, 66, 47, 0.873);
    background-blend-mode: soft-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
}

.formulario{
    background: rgb(255, 255, 255);
    margin-top: 150px;
    padding: 3px;
    color: black;
}

.contenedor{
    width: 100%;
    padding: 60px;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}


h1{
    font-size: 40px;
    text-align: center;

    font-family: 'Dancing Script', cursive;
    color: #2e6c47;
}
input[type="text"],
input[type="password"],
input[type="email"]{
    font-size: 15px;
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #2e6c47;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

form a {
    text-align: center;
}