<!DOCTYPE html>
<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    {%load static%}
    <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
     <!-- estilos -->
    <link rel="stylesheet" href="{% static 'css/sidebar.css'%}">
    <!-- estilos -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

       
        {% load pwa %}
        {% progressive_web_app_meta %}
    
    <title>Feria Virtual, Maipo Grande</title>
</head>
<header class="header">
    <div class="container logo-nav-container">
        <div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
        <h1 id="h1estilo" >Maipo grande</h1>
        <nav class="navigation">
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                    {% if user.is_authenticated %} 
                    <a href="{% url 'logout' %}" clas>Cerrar sesión</a> 
                    <a href="#" id="none">Usuario: {{user.username}}</a> 
                    {% else %}
                    <a href="/accounts/login/">Inicia sesión</a>
                    <a href="/message_register">Solicitud de registro</a>
                    
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#">nodef</a>
            {% load permission_tags %}

            {% if user|has_role:'moderador'  %}
            <a href="{% url 'create_staff' %}"> Personal</a>
            <a href="{% url 'list_request' %}"> Solicitudes</a>
            <a href="{% url 'register' %}"> Registrar usuario</a>
            {% endif %}

            {% if user|has_role:'externo' or user|has_role:'interno'  %}
            <a href="{% url 'create_request' %}"> Solicitud</a>
            <a href="{% url 'list_producer_request' %}"> Solicitudes Lotes y subastas </a>
            <a href="{% url 'list_sales' %}"> Mis ventas </a>
            <a href="{% url 'list_ticket' %}"> Mis boletas </a>
            {% endif %}

            {% if user|has_role:'productor'   %}
            <a href="{% url 'create_product' %}"> Mis Productos</a> 
            <a href="{% url 'post_create_product' %}"> Inventario</a> 
            <a href="{% url 'list_request' %}"> Solicitudes de creación de lote </a> 
            <a href="{% url 'list_producer_request' %}"> Lotes creados</a>  
            <a href="{% url 'list_ticket' %}"> Mis boletas </a> 
            {% endif %}

            {% if user|has_role:'transportista'  %}     
            <a href="{% url 'list_producer_request' %}"> Subastas disponibles </a>  
            <a href="{% url 'list_ticket' %}"> Mis boletas </a> 
            {% endif %}

            {% if user|has_role:'consultor'  %}
            <a href="{% url 'list_ticket_producer' %}">  Boletas </a>
            {% endif %}

            {% if perms.app.add_personal %}
            <a href="{% url 'create_staff' %}">Crear personal</a>
            {% endif %}

            

		</nav>
		<label for="btn-menu">X</label>
	</div>
</div>

    
{% block content %}

{% endblock  %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    {% if messages %}
        {% for m in messages %}
        <script>
            Swal.fire({
                title: 'NICE!',
                text: "{{m}}",
                icon: 'success',
                confirmButtonText: 'Aceptar'
                })
        </script>
        {% endfor %}
    {% endif %}  
</html>