<!DOCTYPE html>
<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    {%load static%}
    <link rel="stylesheet" href="{% static 'app/css/sidebar.css'%}">
    
    <title>Feria Virtual, Maipo Grande</title>
</head>
<header class="header">
    <div class="container logo-nav-container">
        <div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
        <h1 id="h1estilo" >Maipo grande</h1>
        <nav class="navigation">
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                    {% if user.is_authenticated %} 
                    <a href="{% url 'logout' %}" clas>Cerrar sesión</a> 
                    <a href="#" id="none">Usuario: {{user.username}}</a> 
                    {% else %}
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                    <a href="{% url 'register' %}">Registrate</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="{% url 'index' %}">Procesos de venta</a>
			<a href="#">nodef</a>
			<a href="#">nodef</a>
			<a href="#">nodef</a>
			<a href="#">nodef</a>
			<a href="#">nodef</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 id="h1estilo" >Grupo 4</h1>


		</nav>
		<label for="btn-menu">X</label>
	</div>
</div>

    
{% block contenido %}

{% endblock  %}


</html>