{% extends 'base/base.html' %}

{%load static%} 

{% block content %}


{%block css%} 
<link rel="stylesheet" href="{% static '/css/register.css'%}">

{%endblock%}
<body>
    {% load crispy_forms_tags%}
        <form method="POST" class=" formulario contenedor input-contenedor">
            <h1 class="titleh1">Bienvenid@, porfavor inicia tu sesión</h1>
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Ingresar" class="button"> 
            <p>¿No tienes una cuenta? <a class="link" href="/message_register"> <br>Crea tu solicitud de registro aquí</a> <a class="link" href="{% url 'home' %}"> <br> Volver al inicio </a></p> 
            
        </form>
   </body>
{% endblock %}