{% extends 'base/base.html' %}

{%load static%} 

{% block content %}


{%block css%} 
<link rel="stylesheet" href="{% static '/css/register.css'%}">

{%endblock%}
<body>
    <form method="post" class=" formulario contenedor input-contenedor">
        <h1 class="titleh1">Crear una cuenta</h1>
        {% csrf_token %}
            {{ form }}
        <input class="button" type="submit" value="Crear usuario">
        <p><a class="link" href="{% url 'home' %}"> <br> Volver al inicio </a></p> 
    </form>
    
        
</body>

{% endblock %}